.width_common.box.sub_guess.space_box
  .title Chung kết
  %a.ico{href: "#board"}
  %table.width_common
    %caption#14072014 Thứ hai, 14/07/2014
    %tr.now
      %td.time 02:00
      %td.group 64
      %td.main_team
        %strong Thắng trận 61 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 62
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>