.width_common.box.sub_guess.space_box
  .title Tranh giải 3
  %a.ico{href: "#board"}
  %table.width_common
    %caption#13072014 Chủ nhật, 13/07/2014
    %tr.now
      %td.time 03:00
      %td.group 63
      %td.main_team
        %strong Thua trận 61 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thua trận 62
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>