.width_common
  .page_trandau.width_common
    %h4.text-center
      Tổng tiền được chuyển vào trận chung kết:
    %p.text-center{style: "font-family: 'Open Sans'; font-size: 60px; color: blue; font-weight: bold;"}= "#{number_with_delimiter(total_money, delimiter: '.')} VNĐ"