.width_common.box.sub_guess.space_box
  .title Tứ kết
  %a.ico{href: "#board"}
  %table.width_common
    %caption#04072014 Thứ sáu, 04/07/2014
    %tr.now
      %td.time 23:00
      %td.group 57
      %td.main_team
        %strong Thắng trận 53 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 54
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#05072014 Thứ bảy, 05/07/2014
    %tr.now
      %td.time 03:00
      %td.group 58
      %td.main_team
        %strong Thắng trận 49 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 50
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
    %tr.now
      %td.time 23:00
      %td.group 59
      %td.main_team
        %strong Thắng trận 55 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 56
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#06072014 Chủ nhật, 06/07/2014
    %tr.now
      %td.time 03:00
      %td.group 60
      %td.main_team
        %strong Thắng trận 51 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 52
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>