.width_common.box.sub_guess.space_box
  .title Vòng 16 đội
  %a.ico{href: "#board"}
  %table.width_common
    %caption#28062014 Thứ bảy, 28/06/2014
    %tr.now
      %td.time 23:00
      %td.group 49
      %td.main_team
        %strong Nhất bảng A 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng B
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#29062014 Chủ nhật, 29/06/2014
    %tr.now
      %td.time 03:00
      %td.group 50
      %td.main_team
        %strong Nhất bảng C 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng D
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
    %tr.now
      %td.time 23:00
      %td.group 51
      %td.main_team
        %strong Nhất bảng B 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng A
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#30062014 Thứ hai, 30/06/2014
    %tr.now
      %td.time 03:00
      %td.group 52
      %td.main_team
        %strong Nhất bảng D 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng C
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
    %tr.now
      %td.time 23:00
      %td.group 53
      %td.main_team
        %strong Nhất bảng E 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng F
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#01072014 Thứ ba, 01/07/2014
    %tr.now
      %td.time 03:00
      %td.group 54
      %td.main_team
        %strong Nhất bảng G 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng H
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
    %tr.now
      %td.time 23:00
      %td.group 55
      %td.main_team
        %strong Nhất bảng F 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng E
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#02072014 Thứ tư, 02/07/2014
    %tr.now
      %td.time 03:00
      %td.group 56
      %td.main_team
        %strong Nhất bảng H 
      %td.score
        %strong -
      %td.sub_team
        %strong  Nhì bảng G
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>