.width_common.box.sub_guess.space_box
  .title Bán kết
  %a.ico{href: "#board"}
  %table.width_common
    %caption#09072014 Thứ tư, 09/07/2014
    %tr.now
      %td.time 03:00
      %td.group 61
      %td.main_team
        %strong Thắng trận 57 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 58
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>
  %table.width_common
    %caption#10072014 Thứ năm, 10/07/2014
    %tr.now
      %td.time 03:00
      %td.group 62
      %td.main_team
        %strong Thắng trận 59 
      %td.score
        %strong -
      %td.sub_team
        %strong  Thắng trận 60
        / <div class="txt_view_more"><a class="txt_666" href="#">Chi tiết</a></div>