#board.board.width_common
  .title Sơ đồ thi đấu
  .body
    .vongloai_vongbang
      #tab_vongloai.content.active
        .round_1_16.width
          .title Vòng 1/16
          .group_top
            .box
              .round.a 1A
              .date [49] 28/06
              .round.b 2B
            .box
              .round.a 1C
              .date [50] 29/06
              .round.b 2D
          .group_bottom
            .box
              .round.a 1E
              .date [51] 29/06
              .round.b 2F
            .box
              .round.a 1G
              .date [54] 01/07
              .round.b 2H
        .round_4.width
          .title Tứ kết
          .group_top
            .box
              .round.a
                W49
                %span.line
              .date [58] 05/07
              .round.b
                W50
                %span.line
          .group_bottom
            .box
              .round.a
                W53
                %span.line
              .date [57] 04/07
              .round.b
                W54
                %span.line
        .round_2.width
          .title Bán kết
          .box
            .round.a
              W57
              %span.line
            .date.a [61] 09/07
            .date [61] 09/07
            .round.a
              W58
              %span.line
        .round_1.width
          .title Chung kết
          .box
            .round.a
              W61
              %span.line
            .date [64] 14/07
            .round.b
              W62
              %span.line.right
          .title.giai_3 Tranh giải 3
          .box
            .row.a L61
            .date.giai_3 [63] 13/07
            .row.b L62
        .round_2.width.right
          .title Bán kết
          .box
            .round.a
              W59
              %span.line.right
            .date.a [62] 10/07
            .date [62] 10/07
            .round.a
              W60
              %span.line.right
        .round_4.width.right
          .title Tứ kết
          .group_top
            .box
              .round.a
                W51
                %span.line.right
              .date [60] 06/07
              .round.b
                W52
                %span.line.right
          .group_bottom
            .box
              .round.a
                W55
                %span.line.right
              .date [59] 05/07
              .round.b
                W56
                %span.line.right
        .round_1_16.width.right
          .title Vòng 1/16
          .group_top
            .box
              .round.a 1B
              .date [53] 30/06
              .round.b 2A
            .box
              .round.a 1D
              .date [52] 30/06
              .round.b 2C
          .group_bottom
            .box
              .round.a 1F
              .date [55] 01/07
              .round.b 2E
            .box
              .round.a 1H
              .date [56] 02/07
              .round.b 2G
        .clear