.header_logo{
  margin-top: -30px !important;
  position: relative;
}
.ft-botl{
  padding: 10px 0 0 0 !important;
}
.ft-botr{
  padding: 10px 0 0 0 !important;
}
.p-t-20{
  padding-top: 10px;
}
#user-area{
  position: absolute;
  right: 0;
  top: 40px;
}
.i-4-flag{
  width: 48px;
  height: 32px;
}
.flag{
  border: 1px solid #c7c6c6;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-b-20{
  margin-bottom: 20px;
}
.txt_main_category a, #main_menu a, .tabs a{
  text-decoration: none !important;
}
.tabs a{
  color: #fff !important;
  font-weight: bold;
}
.betting-score{
  text-decoration: none !important;
  padding: 5px;
}
.a-color{
  color: #428bca;
}
.total-people-betting{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: grey;
}
.total-money-betting{
  text-align: right;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.page_trandau .col.a{
  width: 70% !important;
}
.page_trandau .col.b{
  width: 30% !important;
}
.score-bet{
  font-size: 20px;
  color: #00868B;
}
.users-bet{
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #1D7CF2;
}
.play-font{
  font-family: 'Play', sans-serif;
  font-size: 16px;
}
.amount_of_money{
  font-family: 'Play', sans-serif;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
.margin-20 {
  margin: 20px 0;
}
.green-btn{
  width: 95px !important;
  text-align: center;
  height: 25px;
  background: #328005;
  color: #fff !important;
  font-size: 14px;
  text-decoration: none !important;
  padding: 2px 0 0 0;
}
.txt_view_more a{
  font: 400 13px arial !important;
}
.txt_view_more{
  margin-top: 10px !important;
}
.statistics-table .table > thead > tr > th, .statistics-user-detail-table .table > thead > tr > th {
  font-weight: bold;
}
.statistics-table .table > tbody > tr , .statistics-user-detail-table .table > tbody > tr{
  cursor: pointer;
}
tr.bold-win td{
  font-weight: bold;
  color: blue;
}
tr.bold-lose td{
  font-weight: bold;
  color: red;
}
.width-100{
  width: 100%;
}
table.statistics-user-table{
  margin-bottom: 10px;
}
.width-17{
  width: 17%;
}
.bold-text{
  font-weight: bold;
}
.statistics-user-table tr.total_money_profits td{
  font-weight: bold;
  color: blue;
  font-size: 18px;
}
.statistics-user-table tr.total_money_lose td{
  font-weight: bold;
  color: red;
  font-size: 18px;
}
.highlight_row .highlight_column{
  color: blue;
  font-weight: bold;
}