#wrapper_footer
  #footer
    .ft-bot
      .ft-botl
        %span Giao diện của Vnexpress
      .ft-botr
        NUS Technology Long-term Event - Dự đoán tỷ số từng trận đấu
    .clear  
.clear  
.block_close_menu